## 1.출력 함수(print)
print() 함수
- ()안의 값을 출력해주는 함수
- 변수 값을 확인하는 용도로도 사용

In [3]:
print("Hello Python")
print('Hello Python')
print(25)
print(3.14)
print(True)

Hello Python
Hello Python
25
3.14
True

### 참고. Escape 코드
- 문자열 내의 일부 문자의 의미를 달리하여 특정한 효과를 주는 것
- \n : 한 줄 개행
- \t : 탭(8칸 공백)

In [4]:
print("Hello \n Python")
print("Hello \t Python")

Hello
 Python
Hello 	 Python

### 소수점 출력하기
- {0:3d} : 0번째, 3글자, d(정수)
- {1:3.2f} : 1번쨰, 3글자, 소수점 2자리, f(실수)

In [9]:
print("이름: {}, 학점: {}".format("김영재", 4.5))
print("Test1: {0:3d}, Test2: {1:3.2f}".format(365, 623.4567))

이름: 김영재, 학점: 4.5
Test1: 365, Test2: 623.46

## 2.주석(comment)
- 코드에서 #으로 시작하는 뒷 부분을 실행하지 않음
- python 소스코드 실행시 #은 무시하고 실행
- 개발자(사람)가 보기 위한 용도로 사용
- 개발시 주석을 잘 활용하는 사람이 좋은 개발자

In [12]:
student_num = "230114"  # 학번

# 학번 출력
print(student_num)

230114

## 3.자료형(Type)
1. 문자열(String): "Hello", 'Hi' (" ", ' ' 둘다 문자열이지만 무조건 **" "** 쓰기)
2. 정수형 숫자(int): 3, 0, -1
3. 실수형 숫자(float): 3.1, 0.0, -2.2
4. 논리형(boolean): True, False (첫 글자 무조건 **대문자**)

- type() 함수를 사용해서 자료형 확인 가능

In [15]:
print(type(3.14))
print(type("HI"))

<class 'float'>
<class 'str'>

### 형변환(Type Casting)

- 형변환을 사용하면 자료형을 원하는 type으로 변환 가능

1. int(): ()안의 값을 정수형 변환
2. float(): ()안의 값을 실수형 변환
3. str(): ()안의 값을 문자열형 변환

In [22]:
# int("Hello") (x)
# float("Hi") (x)

#실수형 → 정수형 (o)
a = 3.14
print(int(a))

#정수형 → 실수형 (o)
b = 3
print(float(b))

# 문자열 정수형 → 정수형 (o)
c = "3"  # String 
print(int(c))

# 문자열 실수형 → 실수형 (o)
d = "3.14"
print(float(d))

# 문자열 실수형 → 정수형 (x)
# print(int(d)) ("3.14"에서 . 은 숫자가 아닌 문자 이기 때문에 오류가 남)

# 문자열 정수형 → 실수형 (o)
print(float(c))

3
3.0
3
3.14
3.0

### None
- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용  
- 기타 언어의 Null과 같은 의미로 사용

In [1]:
student_name = None
print(student_name)

None

## 4.변수(Variable)
- 변수: **하나의 값**을 저장할 수 있는 메모리 공간

```python
# 변수 선언 및 초기화 방법
num = 5
```
동적 타이핑 언어: 코드 작성시 Type을 명시하지 않음(코드 실행시 Python이 체크)  
대입연산자(=): 우측의 값을 좌측에 대입, 동등(equal)의 의미 아님

- Python에서 동등(equal)은 ==을 사용 (다른 언어에서도 마찬가지)

In [2]:
# name 변수 생성
# "Yeong Jae Kim" 값을 name 변수에 저장

# name → 변수 이름
# = → 대입 연산자
# "Yeong Jae Kim" → 값
name = "Yeong Jae Kim"

## 명명 규칙(naming rule)
1. 영문 대소문자, _, 숫자로만 구성
2. 숫자로 시작할 수 없음
3. 영어 대소문자 구별
4. 예약어 사용불가

- 예약어: Python에서 미리 선점하여 사용 중인 키워드
- 예약어는 변수, 함수, 클래스 등의 사용자 정의 이름으로 사용할 수 없음
- 예약어 예) for, while, if, None, True, False, return, def 등등

In [3]:
# 1abc = 5 (X) 숫자로 시작 불가
abc1 = 5  # (O)

# 영어 대소문자 구별
abc = 5  # abc와 Abc는 서로 다른 변수
Abc = 5

# 예약어 사용불가
# None = 3 (X)
# print = 5 (X)

## 5.Naming Method
- 변수, 함수, 클래스 등의 사용자 정의 이름에 사용
- 프로그래밍 언어별로 사용하는 Naming Method가 다름
- Python은 snake_case 사용!!

1. snake_case: 소문자로 작성, 합성어 '_' 사용
2. camelCase: 첫글자 소문자, 합성어 첫글자 대문자
3. PascalCase: 첫글자 대문자, 합성어 첫글자 대문자

## 6.format 출력

1. format(): 과거
2. f-string: 최신

In [5]:
student_num = 230114
student_name = "Yeong Jae Kim"

# 출력: 전남대학교 230114, Yeong Jae Kim 입니다.
print("전남대학교 {}, {} 입니다.".format(student_num, student_name))
print(f"전남대학교 {student_num}, {student_name} 입니다.")

전남대학교 230114, Yeong Jae Kim 입니다.
전남대학교 230114, Yeong Jae Kim 입니다.

## 7.사칙연산

- 더하기: +
- 빼기: -
- 곱하기: *
- 나누기: /
- 나누기(몫): //
- 나누기(나머지): %
- 제곱: **